<div style="width:800px;">
        <%= form_with scope: :user_record, url: user_records_path, local: true do |form| %>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p>
                <%= form.label :client_name %><br>
                <%= form.collection_select(:client_name, Client.all, :client_name,:client_name) %>
              </p>
            </div>
            <div class="col-md-4">
              <p>
                <%= form.label :project_name %><br>
                <%= form.select(:project_name, []) %>
                <span id="empty_project" style="color:red"></span>
              </p>
            </div>
            <div class="col-md-4">
              <p>
                <%= form.label :activity_type %><br>
                <%= form.select(:activity_type, UserRecord::ACTIVITY_TYPES) %>
              </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <p>
                <%= form.label :date %><br>
                <%= form.text_field :date, placeholder: 'DD-MM-YYYY', class: 'flatpikrcal', readonly: true %>
                <span id="datepick" style="color:red"></span>
              </p>
            </div>
            <div class="col-md-4">
              <p>
                <%= form.label :start_time %><br>
                <%= form.text_field :start_time, placeholder: 'HH:MM AM/PM', class: 'flatpickrstart flatpickr-input active', readonly: true %>
                <span id="startpick" style="color:red"></span>
              </p>
            </div>
            <div class="col-md-4">
              <p>
                <%= form.label :end_time %><br>
                <%= form.text_field :end_time, placeholder: 'HH:MM AM/PM', class: 'flatpickrend flatpickr-input active', readonly: true %>
                <span id="endpick" style="color:red"></span>
              </p>
            </div>
          </div>
          <br>
          <p>
            <%= form.label :description %><br>
            <%= form.text_area :description, :required => 'required' %>
          </p>
          <br>
          <p>
            <%= form.submit :class => 'button' %>
          </p>
        </div>
          <br>
        <% end %>
    </div>