<h2 style='padding-left:60px;'>Timesheet Entries</h2>
<br>
<div style='padding-left:60px; padding-right:60px'>
    <table class="table" style='padding-left:60px;'>
      <thead class="thead-dark">
        <tr>
            <th>Client Name:</th>
            <th>Project Name:</th>
            <th>Activity Type:</th>
            <th>Date:</th>
            <th>Start Time:</th>
            <th>End Time:</th>
            <th>Description:</th>
            <th>Edit:</th>
        </tr>
      </thead>
      <tbody>
        <% @user_records.each do |user_record| %>
            <tr>
            <td><%= user_record.client_name %></td>
            <td><%= user_record.project_name %></td>
            <td><%= user_record.activity_type %></td>
            <td><%= user_record.date %></td>
            <td><%= user_record.start_time %></td>
            <td><%= user_record.end_time %></td>
            <td><%= user_record.description %></td>
            <td><%= link_to 'Edit', edit_user_record_path(user_record) %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>