<head>
  <title>TimeCamp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script>
    $( document ).ready(function() {
        $( '.flatpickr' ).flatpickr({
  	          noCalendar: true,
              enableTime: true,
              dateFormat: 'h:i K'
        });
        flatpickr('.flatpikrcal', {
          enableTime: false,
          dateFormat: "d-m-Y"
        });
    });
  </script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-brand">
      TimeCamp
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', welcome_index_path, :style => 'text-decoration:none' %></li>
    <% if current_user %>
        <li><%= link_to 'Fill Timesheet', new_user_record_path, :style => 'text-decoration:none' %></li>
        <li><%= link_to 'View my timesheet entries', user_records_path, :style => 'text-decoration:none' %></li>
        <li><%= link_to 'Change Password', edit_user_registration_path, :style => 'text-decoration:none' %></li>
        <li><%= link_to 'Log Out', destroy_user_session_path , method: :delete, :style => 'text-decoration:none' %></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
      <li><a><span class="glyphicon glyphicon-user">&nbsp</span><%= current_user.email %></a></li>
    </ul>
    <% else %>
        <li><%= link_to 'Sign Up', new_user_registration_path, :style => 'text-decoration:none' %></li>
        <li><%= link_to 'Log In', new_user_session_path, :style => 'text-decoration:none' %></li>
        <li><%= link_to 'Log In as Admin', admin_root_path, :style => 'text-decoration:none' %></li>
    </ul>
    <% end %>
  </div>
</nav>
<h2 style='padding-left:60px;'>Fill Timesheet</h2>
<br>
<div style="width:800px;">
    <%= form_with scope: :user_record, url: user_records_path, local: true do |form| %>
      
      <p style='padding-left:60px;'>
        <%= form.label :client_name %><br>
        <%= form.text_field :client_name, :required => 'required' %>
      </p>
      <br>
      <p style='padding-left:60px;'>
        <%= form.label :project_name %><br>
        <%= form.text_field :project_name, :required => 'required' %>
      </p>
      <br>
      <p style='padding-left:60px;'>
        <%= form.label :activity_type %><br>
        <%= form.text_field :activity_type, :required => 'required' %>
      </p>
      <br>
      <div style='padding-left:40px;'>
        <%= form.label :date, 'style' => 'padding-left: 20px' %><br>
        <span style='padding-left:20px;'>
        <%= form.text_field :date, placeholder: 'DD-MM-YYYY', class: 'flatpikrcal', readonly: true, :required => 'required' %>
        </span>
      </div>
      <br>
      <p style='padding-left:60px;'>
        <%= form.label :start_time %><br>
        <%= form.text_field :start_time, placeholder: 'HH:MM AM/PM', class: 'flatpickr flatpickr-input active', readonly: true, :required => 'required' %>
      </p>
    <br>
      <p style='padding-left:60px;'>
        <%= form.label :end_time %><br>
        <%= form.text_field :end_time, placeholder: 'HH:MM AM/PM', class: 'flatpickr flatpickr-input active', readonly: true, :required => 'required' %>
      </p>
    <br>
      <p style='padding-left:60px;'>
        <%= form.label :description %><br>
        <%= form.text_area :description, :required => 'required' %>
      </p>
    <br>
      <p style='padding-left:60px;'>
        <%= form.submit %>
      </p>
      <br>
    <% end %>
</div>
</body>