<h2 style='padding-left:60px;'>Following timesheet entry successfully saved:</h2>
<br>
<div style='padding-left:60px;' style="width:800px;">
    <p>
      <strong>Client Name:</strong>
      <%= @user_record.client_name %>
    </p>
    
    <p>
      <strong>Project Name:</strong>
      <%= @user_record.project_name %>
    </p>

    <p>
      <strong>Activity Type:</strong>
      <%= @user_record.activity_type %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @user_record.date %>
    </p>

    <p>
      <strong>Start Time:</strong>
      <%= @user_record.start_time %>
    </p>

    <p>
      <strong>End Time:</strong>
      <%= @user_record.end_time %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @user_record.description %>
    </p>
</div>