<!DOCTYPE html>
<html>
  <head>
    <title>TimeCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-brand">
          TimeCamp
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><%= link_to 'Home', welcome_index_path, :style => 'text-decoration:none' %></li>
        <% if current_user %>
            <li><%= link_to 'Fill Timesheet', new_user_record_path, :style => 'text-decoration:none' %></li>
            <li><%= link_to 'View my timesheet entries', user_records_path, :style => 'text-decoration:none' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration:none;">
              <span class="glyphicon glyphicon-user"></span>&nbsp &nbsp<%= current_user.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:215px">
              <a class="dropdown-item"><%= link_to 'Change Password', edit_user_registration_path, :style => 'text-decoration:none;padding-left:30px;' %></a><br>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"><%= link_to 'Log Out', destroy_user_session_path , method: :delete, :style => 'text-decoration:none;padding-left:30px' %></a>
            </div>
          </li>
        </ul>
        <% else %>
            <li><%= link_to 'Sign Up', new_user_registration_path, :style => 'text-decoration:none' %></li>
            <li><%= link_to 'Log In', new_user_session_path, :style => 'text-decoration:none' %></li>
            <li><%= link_to 'Log In as Admin', admin_root_path, :style => 'text-decoration:none' %></li>
        </ul>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
